#scene {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 20;
}

video {
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    background-color: aquamarine;
    z-index: 1;
}
