.map-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // margin: 30px;
}

.map-frame {
  border: 2px solid black;
  height: 80vh;
  margin: auto;
  width: 80vw;
}

#map {
  height: 100%;
  width: 100%;
}


/// follow mouse code
.follow-mouse {
  position: absolute;
  margin: 0;
  padding: 5px;
  border: 1px solid #ccc;
  z-index: 9999;
  font-size: 1rem;
}
