body,
html,
#map {
  width: 100vw;
  height: 90vh;
}

body {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

#export {
  position: absolute;
  right: 10px;
  z-index: 99999;
  background: white;
  color: black;
  padding: 6px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  text-decoration: none;
}

#export {
  top: 10px;
}

.leaflet-popup-content-wrapper {
  border-radius: 3px;
}

.leaflet-popup-content {
  width: 320px !important;
}

.info-shop {
  display: flex;
  gap: 1.5rem;
}

.info-logo {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 120px;
}

.info-button button {
  padding: 10px 15px;
  border: 0;
  margin-top: 10px;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  font-size: 90%;
  background: #610072;
}

.info-button button:hover {
  background: #9500af;
}

.shop {
  display: flex;
  height: 100%;
}

.autocomplete {
  background: #fff;
  height: 80vh;
  width: 350px;
  padding: 15px 20px;
  box-sizing: border-box;
  overflow: hidden;
}

.search-shop {
  border: 1px solid #d7d7d7;
  box-shadow: none;
  box-sizing: border-box;
  font-size: 16px;
  padding: 8px 10px;
  margin-bottom: 20px;
  border-top: 1px solid #cccccc;
  width: 100%;
}

.search-shop:focus {
  border: 1px solid #858585;
  outline: none;
}

.shops-list {
  margin: 0;
  padding: 0 10px 0 0;
  list-style: none;
  height: calc(100% - 60px);

  overflow: auto;
}

.shops-list::-webkit-scrollbar {
  width: 10px;
}
.shops-list::-webkit-scrollbar-thumb {
  background-color: #ae00b4;
  border-radius: 5px;
}

.shop-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 10px 5px;
  font-size: 80%;
  border-bottom: 1px solid #cccccc;
  cursor: pointer;
}

.shop-item:hover {
  background: #f3f3f3;
}

.shop-item .name,
.info-name {
  text-transform: uppercase;
}

.shop-category {
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 5px;
  padding-left: 3px;
  font-size: 90%;
  color: #ff4800;
}

.shop-color {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.active-shop {
  background: #292929 !important;
  color: #fff;
}


// .map-container {
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   // margin: 30px;
// }

// .map-frame {
//   border: 2px solid black;
//   height: 80vh;
//   margin: auto;
//   width: 80vw;
// }

// #map {
//   height: 100%;
//   width: 100%;
// }


/// follow mouse code
.follow-mouse {
  position: absolute;
  margin: 0;
  padding: 5px;
  border: 1px solid #ccc;
  z-index: 9999;
  font-size: 1rem;
}




// #map {
//     height: 90%;
//     width: 90%;
//     position: absolute;
//     top: 0;
//     left: 0;
//     z-index: 0;
// }

#controls {
    position: absolute;
    z-index: 3;
    top: 5rem;
    left: 5rem;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 3px solid #1f1f1f;
    display: flex;
    align-items: stretch;
    height: 60px;
    width: 250px;
}

.control-button {
    background-color: #ffefff;
    color: black;
    padding: 0.5rem 1rem;
    cursor: pointer;
    outline: none;
    border: none;
    // border-right: 3px solid #1f1f1f;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.control-button:hover {
    background-color: #ffdfdf;
}

.control-button:active {
    background-color: #ffcfcf;
}

.active {
    background-color: #ffdfdf;
}

.control-button:not(:last-child) {
    border-right: 3px solid #1f1f1f;
}
